<div class="col-sm-auto">
  <%= link_to image_tag(account.image_url, class: "imx-auto d-block rounded-circle", height: "50px", width: "50px"), profile_path(account.username) if  account.image.present?%>
</div>
<div class="col-sm-auto" style="margin-top: auto; margin-bottom: auto">
  <%= link_to account.username, profile_path(account.username), class: "text-start text-dark text-decoration-none fs-4" %>
</div>
