<div class="col-sm-auto my-auto pe-0">
  <%= link_to profile_picture(account, size), profile_path(account.username) %>
</div>
<div class="col-sm-auto ps-1" style="margin-top: auto; margin-bottom: auto">
  <%= link_to account.username, profile_path(account.username), class: "text-start text-dark text-decoration-none" %>
</div>
